<p>movie-card works!</p>


<!-- <div class="card-container">

<div *ngFor="let movie of moviesObs | async">
    <a class="card"  target="_blank" rel="noopener" href="https://angular.io/devtools/">
        <img [src]="'https://image.tmdb.org/t/p/w500/'+movie.image" alt="">
        <span>Angular DevTools</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
      </a>
  
</div>
   


  </div> -->
  

<div class="card-container">


      
  <div *ngFor="let movie of movies; let i = index" [attr.data-index]="i" id="card_{{i}}"  >

      <div [routerLink]="['detail', movie.id]" class="card"   id="card1_{{i}}" >
    
        <div class="notify-badge">{{movie.rank}}</div>
        <div class="servicesfin"> 
          <img style="width: 200px; height: 300px;" [src]="movie.images.jpg.image_url" alt=""> 
        </div>
        <div class="text-wrap"><h5>{{movie.title}}</h5></div>
        <div class="servicesfindesc">
          <h5>Release: {{movie.aired.from| date}}</h5> 
          <h5>Latest: {{movie.aired.to ? (movie.aired.to|date) : 'Now'}}</h5> 
          <h5> Rating: {{movie.rating}}</h5> 
          
          
        </div>


   </div> 
  

  
  </div>
</div> 